{% extends 'base/base.html'%}

{% block content %}
	<div class="container pt-3">
		<form method="post">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <button class="btn btn-primary" type="submit">Guardar Cambios</button>
	        <a class= "btn btn-default" href="{% url 'rol:rol_lista' %}">Cancelar</a>
    	</form>
	</div>

	<style type="text/css">
		input{
          	width: 87%;
          	min-height: 10px;
        }
        select{
            width: 100%;
            min-height: 350px;
        }
	</style>
{% endblock %}