{% extends 'base/base.html'%}
{% block title %} Crear Rol {% endblock%}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'proyecto:detail' pk=proyecto.pk %}">
        Proyecto {{ proyecto }}</a></li>     
      <li class="breadcrumb-item active">Fase {{ fase }} </li>
    </ol>
<div class="container center-block pt-3">
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label>Nombre del rol:</label>
                    <p>{{form.name }}</p>
                </div>
            </div>
        </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <div class="form-group">
                        <label>Permisos:</label>
                        <p>
                            {{ form.permissions }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <button class="btn btn-primary " type="submit">Crear</button>
                        <a class="btn btn-default" href="#" onclick="window.history.back()">Cancelar</a>
                    </div>
                </div>
            </div>
    </form>
    <style type="text/css">
        select {
            width: 100%;
            min-height: 350px;
        }
    </style>
</div>
{% endblock %}