{% extends 'base/base.html' %}
{% block title %} Cambiar estado {% endblock%}

{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            <div class="card" style="padding-top: 50px; padding-left: 200px; padding-right: 200px">
                <div class="card-header">
                    <strong>Transici&oacute;n de estado de : {{ proyecto.nombre }}</strong>
                </div>
                <div class="row form-group">
                            <div class="col col-md-3">{{ form.estado.label }}:</div>
                            <div class="col-12 col-md-9">{{ form.estado}}</div>
                </div>
                <div class="card-body card-block">
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Aceptar</button>
                            <a class="btn btn-secondary" href="#" onclick="window.history.back()">Cancelar</a>
                        </div>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock content %}