{% extends 'base/base.html' %}
{% block title %} Detalles del proyecto {% endblock %}
{% block content %}
    <table class="table table-hover">
  <thead>
    <tr>
        <th scope="col">Nombre del Proyecto</th>
        <th scope="col">Descripci&oacute;n del Proyecto</th>
        <th scope="col">Estado</th>
        <th scope="col">Miembros del Proyecto</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Ultima modificación</th>
    </tr>
  </thead>
  <tbody>
    {% if object %}
    <tr>
        <td>{{ object.nombre }}</td>
        <td>{{ object.descripcion }}</td>
        <td>{{ object.estado }}</td>
        <td>
            {% for miembro in object.miembros.all %}
                {{ miembro }},
            {% endfor %}
        </td>
         <td>{{ object.fecha_creacion }}</td>
        <td>{{ object.ultima_modificación }}</td>
    </tr>
    {% else %}
    	<h2>No se encontraron registros de proyectos.</h2>
    {% endif %}
  </tbody>
</table>
    <a type="button" class="btn btn-link" href="{% url 'proyecto:list' %}">Salir</a>
    <a type="button" class="btn btn-warning" href="{% url 'proyecto:update' proyecto.id %}">Modificar</a>
    <a type="button" class="btn btn-danger" href="{% url 'proyecto:delete' proyecto.id %}" >Eliminar</a>
    <a type="button" class="btn btn-info" href="{% url 'comite:create' %}" >Comité</a>
{% endblock content %}