{% extends 'base/base.html' %}
{% block title %} Detalles del proyecto {% endblock %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre del Proyecto</th>
            <th scope="col">Descripci&oacute;n del Proyecto</th>
            <th scope="col">Estado</th>
            <th scope="col">Miembros del Proyecto</th>
            <th scope="col">Fecha de creación</th>
            <th scope="col">Ultima modificación</th>
        </tr>
        </thead>
        <tbody>
        {% if object %}
            <tr>
                <td>{{ object.nombre }}</td>
                <td>{{ object.descripcion }}</td>
                <td>{{ object.estado }}</td>
                <td>
                    {% for miembro in object.miembros.all %}
                     <li>{{ miembro }}</li>
                    {% endfor %}
                </td>
                <td>{{ object.fecha_creacion }}</td>
                <td>{{ object.ultima_modificacion }}</td>
            </tr>
        {% else %}
            <h2>No se encontraron registros de proyectos.</h2>
        {% endif %}
        </tbody>
    </table>
    <a type="button" class="btn btn-secondary" href="{% url 'proyecto:list' %}">Salir</a>
    {% if proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado'%}
        {% if request.user == proyecto.gerente %}
        <a type="button" class="btn btn-warning" href="{% url 'proyecto:update' proyecto.id %}">Modificar</a>
        <a type="button" class="btn btn-danger" href="{% url 'proyecto:delete' proyecto.id %}">Eliminar</a>
        {% endif %}
        <a type="button" class="btn btn-info" href="{% url 'comite:create' _id=proyecto.id %}">Comité</a>

            <div class="dropdown" style="display: inline">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            Fases
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            {% if proyecto.estado != 'Iniciado' %}

            <a class="dropdown-item" href="{% url 'fase:crear_fase' _id=proyecto.id %}">Crear fase</a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'fase:fase_lista' proyecto.id %}">Lista de fases</a>
        </div>
    </div>
    
    {% endif %}

{% endblock content %}