{% extends 'base/base.html' %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre del Proyecto</th>
            <!--<th scope="col">Descripci&oacute;n del Proyecto</th>-->
            <th scope="col">Gerente del Proyecto</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for proyecto in object_list %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.user }}</td>
                    <td>{{ proyecto.estado }}</td>
                    <td>
                        <a type="button" class="btn btn-info" href="{% url 'proyecto:detail' proyecto.id %}">Más
                            Detalles</a>
                        {% if proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado' %}
                            <a type="button" class="btn btn-info" href="{% url 'proyecto:change' proyecto.id %}">
                                Transici&oacute;n del Proyecto</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h2>No se encontraron registros de proyectos.</h2>
        {% endif %}
        </tbody>
    </table>
    <a type="button" class="btn btn-secondary" href="{% url 'proyecto:manage_projects' %}">Regresar a Gestión de
        Proyectos</a>
{% endblock content %}