{% extends 'base/base.html' %}
{% block title %} B&uacute;squeda de Proyectos {% endblock%}

{% block content %}
<form method="GET" action="{% url 'proyecto:search' %}">
        <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control search-users" placeholder="Ingrese el nombre o la descripci&oacute;n del proyecto" name="buscar" value="{{ request.GET.buscar }}">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success btn-search-users">Buscar</button>
                        </span>
                    </div>
                </div>   
</form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre del Proyecto</th>
            <!--<th scope="col">Descripci&oacute;n del Proyecto</th>-->
            <th scope="col">Gerente del Proyecto</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        {% if page_obj %}
            {% for proyecto in page_obj %}
                <tr>
                    <td>{{ proyecto.nombre }}</td>
                    <td>{{ proyecto.gerente }}</td>
                    <td>{{ proyecto.estado }}</td>
                    <td>
                        <a type="button" class="btn btn-info" href="{% url 'proyecto:detail' proyecto.id %}">Más
                            Detalles</a>
                        {% if proyecto.estado != 'Cancelado' and proyecto.estado != 'Finalizado' %}
                            <a type="button" class="btn btn-info" href="{% url 'proyecto:change' proyecto.id %}">
                                Transici&oacute;n del Proyecto</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h2>No se encontraron registros de proyectos.</h2>
        {% endif %}
        </tbody>
    </table>

    <div class="text-center">
        <div class="pagination">
            <span class="step-links">
                
                <span class="current">
                      <li>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</li>
                </span>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Inicio</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}               

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>            
                {% endif %}
            </span>
        </div>
      </div>
      
    <a type="button" class="btn btn-secondary" href="{% url 'proyecto:list' %}">Regresar a Lista de
        Proyectos</a>
{% endblock content %}