{% extends 'base/base.html' %}
{% block title %} Reporte de Items {% endblock%}
{% block content %}
    <h1>INFORMACION DETALLADA DEL REPORTE DE TODOS LOS ITEMS EN DESARROLLO </h1>
    <div class="card">
        <div class="card-header">
            <strong>&nbsp;&nbsp;Proyecto: </strong>{{ proyecto.nombre }}
            <br><br><br>
            <h4>ITEMS</h4>
            <hr>
            <table>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Fase</th>
                    <th scope="col">Fecha creacion</th>
{#                    <th scope="col">Estado</th>#}
                </tr>
                <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.fase }}</td>
                        <td>{{ item.fecha_creacion }}</td>
{#                        <td>{{ item.estado }}</td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
