{% extends 'base/base.html' %}

{% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock extrajs %}

{% block content %}
    {% if lb %}
        <h1 style="text-align: center">Lineas bases - Fase {{ fase.nombre }}</h1>
    {% endif %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% if lb %}
            {% for linea in lb %}
                <tr>
                    <td>{{ linea.identificador }}</td>
                    <td>{{ linea.estado }}</td>
                    <td>{{ linea.descripcion }}</td>
                    <td>{{ linea.fecha_creacion }}</td>
                    <td>
                        <div class="dropdown" style="display: inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Items
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if linea.estado == 'Abierta' %}
                                    <a class="dropdown-item"
                                       href="{% url 'linea_base:agregar_items_lb' linea.id fase.id %}">Incluir/Excluir
                                        items</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'linea_base:linea_items_lista' linea.id %}">Lista
                                    de
                                    items</a>
                            </div>
                        </div>
                        {% if linea.estado == 'Abierta' %}
                            <div class="dropdown" style="display: inline">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Mas
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item"
                                       href="{% url 'linea_base:editar_lb' linea.id fase.id %}">Editar</a>
                                    <a class="dropdown-item"
                                       href="{% url 'linea_base:linea_estado' linea.id fase.id %}">Cambiar
                                        estado</a>
                                    <a class="dropdown-item" href="{% url 'linea_base:eliminar_lb' linea.id fase.id %}">Eliminar</a>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h2>No se encontraron registros de lineas bases en {{ fase.nombre }}</h2>
        {% endif %}
        </tbody>
    </table>
    <a type="button" class="btn btn-link" href="{% url 'fase:fase_lista' fase.proyecto.id %}">Volver a fases del
        proyecto</a>
{% endblock content %}