{% extends 'base/base.html' %}

{% block title %} Listar LB {% endblock%}

{% block content %}
    <ol class="breadcrumb">      
      <li class="breadcrumb-item">Proyecto {{ proyecto }}</li>
      <li class="breadcrumb-item active">Fase {{ fase }}</li>       
    </ol>
    
    {% if lb %}
        <h1 style="text-align: center">Lineas bases - Fase {{ fase.nombre }}</h1>
    {% endif %}

<form method="GET" action="{% url 'linea_base:search' fase.id %}">
        <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control search-users" placeholder="Ingrese el identificador o la descripci&oacute;n de la l&iacute;nea base." name="buscar" value="{{ request.GET.buscar }}">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success btn-search-users">Buscar</button>
                        </span>
                    </div>
                </div>   
</form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Identificador</th>
            <th scope="col">Estado</th>
            <th scope="col">Descripci&oacute;n</th>
            <th scope="col">Fecha de Creaci&oacute;n</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% if page_obj %}
            {% for linea in page_obj %}
                <tr>
                    <td>{{ linea.identificador }}</td>
                    <td>{{ linea.estado }}</td>
                    <td>{{ linea.descripcion }}</td>
                    <td>{{ linea.fecha_creacion }}</td>
                    <td>
                        <div class="dropdown" style="display: inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Items
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if linea.estado == 'Abierta' %}
                                    <a class="dropdown-item"
                                       href="{% url 'linea_base:agregar_items_lb' linea.id fase.id %}">Incluir/Excluir
                                        items</a>
                                {% endif %}
                                <a class="dropdown-item" href="{% url 'linea_base:linea_items_lista' linea.id fase.id %}">Lista
                                    de
                                    items</a>
                            </div>
                        </div>
                        {% if linea.estado != 'Rota' %}  
                           <div class="dropdown" style="display: inline">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Mas
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    {% if linea.estado == 'Abierta' %}     
                                        <a class="dropdown-item"
                                           href="{% url 'linea_base:editar_lb' linea.id fase.id %}">Editar</a>
                                        {% if linea.items.all.count %}
                                            <a class="dropdown-item"
                                               href="{% url 'linea_base:linea_estado' linea.id fase.id %}">Cambiar estado</a>
                                        {% endif %}

                                        {% if linea.items.all.count == 0 %}
                                            <a class="dropdown-item" href="{% url 'linea_base:eliminar_lb' linea.id fase.id %}">Eliminar</a>
                                        {% endif%}

                                    {% endif %}      
                                    {% if linea.estado == 'Cerrada' %}
                                            <a class="dropdown-item"  href="{% url 'comite:solicitud_linea_base' linea.id %}">Cambiar estado</a>
                                    {% endif %} 
                                    
                                </div>
                            </div>
                        {% endif %}     
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h2>No se encontraron registros de lineas bases en {{ fase.nombre }}</h2>
        {% endif %}
        </tbody>
    </table>
    <div class="text-center">
        <div class="pagination">
            <span class="step-links">
                <span class="current">
                      <li>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</li>
                </span>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Inicio</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}               

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>            
                {% endif %}
            </span>
        </div>
    </div>
    <a type="button" class="btn btn-link" href="{% url 'fase:fase_lista' fase.proyecto.id %}">Volver a fases del
        proyecto</a>
{% endblock content %}




