{% extends 'base/base.html' %}
{{ form.non_field_error }}
{% block title %} Agregar items {% endblock%}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {#{ form.as_p }#}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            <div class="card" >
                <div class="card-header">
                    <strong>Linea base - Agregar items</strong>
                </div>
                {% if items_aprobados %}
                    <div class="card-body card-block">
                        <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3">{{ form.items.label }}</div>
                                <div class="">{{ form.items }}</div>
                            </div>
                            <div class="form-group">
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Guardar</button>
                                    <a class="btn btn-secondary" href="#" onclick="window.history.back()">Cancelar</a>
                                </div>
                        </form>
                    </div>
                {% else %}
                    <h1 style="text-align: center">No se encontraron items aprobados en la fase</h1>
                    <h5 style="text-align: center"><small class="text-muted">Esto tambien puede significar que todos los items aprobados ya fueron asignados a una linea base</small></h5>
                    <div class="text-center">
                        <a class="btn btn-success" href="{% url 'linea_base:linea_lista' fase.id %}">Aceptar y
                            guardar</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </form>
{% endblock %}


