{% extends 'base/base.html' %}
{% block title %} Crear comit&eacute; {% endblock %}
{{ form.non_field_error }}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <strong>Formulario de Registro</strong>
            </div>
            <div class="card-body card-block">
                <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">{{ formulario.nombre.label }}:</div>
                        <div class="col-12 col-md-9">{{ formulario.nombre }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ formulario.descripcion.label }}:</div>
                        <div class="col-12 col-md-9">{{ formulario.descripcion }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">Agregar miembros al comit&eacute;:</div>
                        <div class="">{{ formulario.miembros }}</div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Crear" class="btn btn-success" onclick="return checkMiembros();">
                            <a type="button" class="btn btn-link" href="#" onclick="window.history.back()">Cancelar</a>
                        </div>
                    </div>
            </div>
    </form>
    <script type="text/javascript">
        function checkMiembros(){
           var miembros = document.querySelectorAll('input[type="checkbox"]:checked').length;
           if (miembros == 1 || miembros%2 == 0 || miembros < 3 ){
                alert("Cantidad de miembros no aceptada, debe ser un numero impar mayor a 3.");
                return false;
           }else{
            return true;
           }
        }
    </script>
{% endblock %}

