{% extends 'base/base.html' %}

{% block title %} Detalles del comit&eacute; {% endblock %}


{% block content %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'proyecto:detail' pk=comite.proyecto.pk %}">
      Proyecto {{ comite.proyecto }}</a></li>
      <li class="breadcrumb-item active">Comité {{ comite }}</li>
    </ol>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre del Comité</th>
            <th scope="col">Descripci&oacute;n del Comité</th>
            <th scope="col">Miembros del Comité</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ comite.nombre }}</td>
            <td>{{ comite.descripcion }}</td>
            <td>
                {% for miembro in comite.miembros.all %}
                    <li>{{ miembro }}</li>
                {% endfor %}
            </td>
        </tr>
        </tbody>
    </table>
    <a type="button" class="btn btn-secondary" href="{% url 'proyecto:detail' comite.proyecto.id %}">Regresar al Proyecto</a>
    {% if request.user.id == comite.proyecto.gerente_id %}
    <a type=" button" class="btn btn-warning" href="{% url 'comite:update' comite.id %}">Modificar</a>
    <a type="button" class="btn btn-danger" href="{% url 'comite:delete' comite.id %}">Eliminar</a>
    {% endif %}
    {# {% if request.user in comite.miembros.all %} #}
       <div class="dropdown" style="display: inline">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Solicitudes
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                   href="{% url 'comite:solicitudes' comite.id %}">Votacion</a>
            </div>
        </div>
    {# {% endif %} #}
{% endblock content %}