{% extends 'base/base.html' %}
{% block title %} Mis comites {% endblock %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre del Comité</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    	{% for comite in object_list %}
			<tr>
          <td>{{ comite.nombre }}</td>
          <td>
              <a type="button" class="btn btn-info" href="{% url 'comite:detail' comite.id %}">Ver Detalles</a>
          </td>
        </tr>
    	{% endfor %}
    {% else %}
    	<h2>No se encontraron registros de comites.</h2>
    {% endif %}
  </tbody>
</table>
    <a type="button" class="btn btn-link" href="{% url 'comite:manage_comite' %}">Regresar a Gestión de Comité</a>
{% endblock content %}