{% extends 'base/base.html' %}
{% block title %} Reporte de Solicitudes {% endblock%}
{% block content %}
    <h1>INFORMACION DETALLADA DEL REPORTE DE SOLICITUDES</h1>
    <div class="card">
        <div class="card-header">
            <strong>&nbsp;&nbsp;Proyecto: </strong>{{ proyecto.nombre }}
            <strong>&nbsp;&nbsp;Comité: </strong>{{ comite.nombre }}
            <strong>&nbsp;&nbsp;Cantidad de solicitudes: </strong> {{ solicitudes.count }} 
            <strong>&nbsp;&nbsp;Cantidad de integrantes del comite: </strong>{{ comite.miembros.count }}
            <br><br><br>
            <h4>SOLICITUDES</h4>
            <hr>
            <table>
                <tr>
                    <th scope="col">Asunto</th>
                    <th scope="col">Descripcion de la Solicitud</th>
                    <th scope="col">Fecha Solicitada</th>
                    <th scope="col">Estado</th>
                </tr>
                <tbody>
                {% for solicitud in solicitudes %}
                    <tr>
                        <td>{{ solicitud.asunto }}</td>
                        <td>{{ solicitud.descripcion }}</td>
                        <td>{{ solicitud.fecha_solicitada }}</td>
                      <td>{{ solicitud.estado }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
