{% extends 'base/base.html' %}
{% block title %}Solicitudes{% endblock%}

{% block extracss %}
    <script src="https://kit.fontawesome.com/aa90bcc874.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'proyecto:detail' pk=comite.proyecto.pk %}">Proyecto {{ comite.proyecto }}</a></li>
      <li class="breadcrumb-item"><a href="#" onclick="window.history.back()">Comité {{ comite }}</a></li>
      <li class="breadcrumb-item active">Solicitudes</li>
    </ol>
    {% if page_obj %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Artefacto</th>
                <th scope="col">Descripcion de la solicitud</th>
                <th scope="col">Fecha solicitada</th>
                <th scope="col">Solicitante</th>
      <!--      <th scope="col">Opciones</th>       -->
                <th scope="col">Decisi&oacute;n</th>
            </tr>
            </thead>
            <tbody>
                {% for solicitud in page_obj %}
                    <tr>
                        {% if solicitud.item %}
                            <td>Item</td>
                        {% else %}
                            <td>Linea Base</td>
                        {% endif %}
                        <td>{{ solicitud.descripcion }}</td>
                        <td>{{ solicitud.fecha_solicitada }}</td>
                        <td>{{ solicitud.solicitante }}</td>
                        <td>
<!--                        {% if solicitud.item %}
                                <a type="button" class="btn btn-secondary" href="{% url 'item:item_detalles' solicitud.item.id solicitud.item.fase.id %}">Detalles</a>
                            {% else %}
                                <a type="button" class="btn btn-secondary" href="#">Detalles</a>
                            {% endif %}     -->
                            {% if miembro_comite not in solicitud.votantes.all %}
                                {% if request.user != proyecto.gerente %}
                                       <div class="dropdown" style="display: inline">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                                    data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                Votar
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="{% url 'comite:voto_favor' solicitud.id %}">A favor</a>
                                                <a class="dropdown-item" href="{% url 'comite:voto_contra' solicitud.id %}">En contra</a>
                                            </div>
                                        </div>
                                {% endif %}
                                <a type="button" class="btn btn-secondary" href="{% url 'comite:auditoria' solicitud.id %}">Auditoria</a>
                            {% else %}
                                <a type="button" class="btn btn-secondary" href="#">Votado <i class="fa fa-check" aria-hidden="true"></i></a>
                                <a type="button" class="btn btn-secondary" href="{% url 'comite:auditoria' solicitud.id %}">Auditoria</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    <div class="text-center">
        <div class="pagination">
                <span class="step-links">

                    <span class="current">
                          <li>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</li>
                    </span>
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; Inicio</a>
                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                    {% endif %}
                </span>
        </div>
    </div>

    {% else %}
        <h2>No se encontraron solicitudes.</h2>
    {% endif %}
<a type="button" class="btn btn-secondary" href="{% url 'comite:detail' comite.id %}">Regresar a Detalles del comit&eacute;</a> 
<a type="button" class="btn btn-secondary" href="{% url 'comite:reporte_solicitud' comite.proyecto.id comite.id %}">Generar reporte de solicitudes</a>
 <!--    <a type="button" class="btn btn-link" href="#" onclick="window.history.back()">Atrás</a>  -->
{% endblock content %}