{% extends 'base/base.html' %}

{% block title %} Editar comité {% endblock%}

{% block content %}
	<div class = "class_container_form">
		<form method="post" action="">
		{% csrf_token %}
    {#{form.as_p}#}
      {% if error %}
        <h2>{{ error }}</h2>
      {% else %}
            <div class="card">
                <div class="card-header">
                    <strong>Formulario de Registro</strong>
                </div>
                <div class="card-body card-block">
                    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">{{ form.nombre.label }}</div>
                            <div class="col-12 col-md-9">{{ form.nombre }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">{{ form.descripcion.label }}</div>
                            <div class="col-12 col-md-9">{{ form.descripcion }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">{{ form.miembros.label }}</div>
                            <div class="col-12 col-md-9">{{ form.miembros }}</div>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Crear" class="btn btn-success" onclick="return checkMiembros();">
                            <a type="button" class="btn btn-danger" href="#" onclick="window.history.back()">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
      {% endif %}
  </form>
      <script type="text/javascript">
        function checkMiembros(){
           var miembros = document.querySelectorAll('input[type="checkbox"]:checked').length;
           if (miembros == 1 || miembros%2 == 0 || miembros < 3 ){
                alert("Cantidad de miembros no aceptada, debe ser un numero impar mayor a 3.");
                return false;
           }else{
            return true;
           }
        }
    </script>
	</div>
{% endblock %}