{% extends 'base/base.html' %}

{% block extrajs %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
{% endblock extrajs %}

{% block content %}
    <h1 style="text-align: center">Fases del proyecto {{ proyecto.nombre }}</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Estado</th>
            <th scope="col">Fecha de Creacion</th>
            <th scope="col" style="text-align: center">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% if fases_proyecto %}
            {% for fase in fases_proyecto %}
                <tr>
                    <td>{{ fase.nombre }}</td>
                    <td>{{ fase.descripcion }}</td>
                    <td>{{ fase.estado }}</td>
                    <td>{{ fase.fecha_creacion }}</td>
                    <td>
                        <div class="dropdown" style="display: inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Item
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'item:crear_item' id_fase=fase.id %}">Crear</a>
                                <a class="dropdown-item" href="{% url 'item:item_lista' id_fase=fase.id %}">Lista de
                                    items</a>
                            </div>
                        </div>
                        <div class="dropdown" style="display: inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Linea base
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                   href="{% url 'linea_base:crear_linea' id_fase=fase.id %}">Crear</a>
                                <a class="dropdown-item" href="{% url 'linea_base:linea_lista' fase.id %}">Lista de
                                    LB</a>

                                {#                                <a class="dropdown-item" href="{% url 'fase:fase_eliminar' fase.id proyecto.id %}">Eliminar</a>#}
                            </div>
                        </div>
                        <div class="dropdown" style="display: inline">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                Mas
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'fase:fase_detalles' fase.id %}">Detalles</a>
                                <a class="dropdown-item" href="{% url 'fase:fase_cambiar_estado' fase.id proyecto.id %}">Cambiar estado</a>
                                <a class="dropdown-item" href="{% url 'fase:fase_modificar' fase.id proyecto.id %}">Editar</a>
                                <a class="dropdown-item" href="{% url 'fase:fase_eliminar' fase.id proyecto.id %}">Eliminar</a>
                            </div>
                        </div>
                        {#                        <a type="button" class="btn btn-outline-warning"#}
                        {#                           href="{% url 'fase:fase_modificar' fase.id proyecto.id %}">Editar</a>#}
                        {#                        <a type="button" class="btn btn-outline-danger"#}
                        {#                           href="{% url 'fase:fase_eliminar' fase.id proyecto.id %} ">Eliminar</a>#}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <a type="button" class="btn btn-link" href="{% url 'proyecto:detail' proyecto.id %}">Volver al proyecto</a>
{% endblock content %}


