{% extends 'base/base.html' %}
{% block title %} Detalles fase {% endblock%}

{% block content %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Proyecto {{ proyecto }}</li>
      <li class="breadcrumb-item active">Fase {{ fase }} </li>
    </ol>
    <div class="card">
        <div class="card-header">
            <strong>Fase {{ fase.nombre }} - Detalles</strong>
        </div>
        <div class="card-body card-block">
            <h4>Nombre: <small class="text-muted">{{ fase.nombre }}</small></h4>
            <h4>Descripcion: <small class="text-muted">{{ fase.descripcion }}</small></h4>
            <h4>Fecha de creacion: <small class="text-muted">{{ fase.fecha_creacion }}</small></h4>
            <h4>Estado: <small class="text-muted">{{ fase.estado }}</small></h4>
            <h4>Proyecto: <small class="text-muted">{{ fase.proyecto.nombre }}</small></h4>
            <h4>Miembros:
                <ul style="list-style: circle">
                    {% for miembro in fase.miembros.all %}
                        <li><small class="text-muted">{{ miembro }}:</small></li>
                    {% endfor %}
                </ul>
            </h4>
            <button type="button" class="btn btn-link" onclick="window.history.back()">Volver</button>
        </div>
    </div>
{% endblock content %}


