{% extends 'base/base.html' %}
{% block title %} Eliminar fase {% endblock%}

{% block content %}
    {% if fase.proyecto.estado == 'Pendiente' %}
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>¿Esta seguro de eliminar la fase {{ object.name }}?</strong>
          Este cambio no se podrá deshacer.
        </div>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            <a type="button" class="btn btn-info" href="{% url 'fase:fase_lista' proyecto.id%}">Cancelar</a>
        </form>
    {% else %}
        <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert" onclick="window.history.back()">&times;</button>
                    <h4 class="alert-heading">Advertencia!</h4>
                    Solo se pueden eliminar fases cuando el proyecto esta en estado pendiente! Una vez iniciado ya no se pueden eliminar ni crear fases.
                </div>
    {% endif %}
{% endblock content%}