{% extends 'base/base.html' %}
{% block title %} Cambiar estado {% endblock%}

{% block content %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'proyecto:detail' pk=proyecto.pk %}">
      Proyecto {{ proyecto }}</a></li>  
      <li class="breadcrumb-item active">Fase {{ fase }} </li>        
    </ol>
        {% if error or fase.proyecto.estado == "Pendiente"%}
            <h2>{{ error }}</h2>
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert" onclick="window.history.back()">&times;</button>
                <h4 class="alert-heading">Advertencia!</h4>
                No se puede cambiar el estado de una fase cuando el proyecto se encuentra en estado pendiente!
            </div>
        {% else %}
            <div class="card" style="padding-top: 50px; padding-left: 200px; padding-right: 200px">
            <div class="card-header">
                <strong>Cambio de estado - Fase "{{ fase.nombre }}"</strong>
            </div>
            <div class="card-body card-block">
                <form action="#" method="post" enctype=" multipart
                    /form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.estado.label }}</div>
                        <div class="col-12 col-md-9">{{ form.estado }}</div>
                    </div>
                    <div class="text-center">
                        <p style="color: #1a1a1a"><small>Si no aparece la opcion 'Cerrada' es porque no se cumplen los requisitos para cerrar la fase.</small></p>
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a class="btn btn-secondary" href="#" onclick="window.history.back()">Cancelar</a>
                    </div>
                </form>
            </div>
            </div>
        {% endif %}
{% endblock content %}

