{% extends 'base/base.html' %}
{% block title %} Crear TI {% endblock%}

{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Proyecto {{ proyecto }}</li>     
      <li class="breadcrumb-item active">Fase {{ fase }} </li>
    </ol>
    <form method="post" action="">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            <div class="card" style="padding-top: 50px; padding-left: 200px; padding-right: 200px">
                <div class="card-header">
                    <strong>Registro de Tipo de Item</strong>
                </div>
                <div class="card-body card-block">
                    <form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">{{ form.nombre.label }}</div>
                            <div class="col-12 col-md-9">{{ form.nombre }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">{{ form.descripcion.label }}</div>
                            <div class="col-12 col-md-9">{{ form.descripcion }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">{{ form.atributos.label }}</div>
                            <div class="col-12 col-md-9">{{ form.atributos }}</div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success">Guardar</button>
                            <a class="btn btn-secondary" href="#" onclick="window.history.back()">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}
