{% extends 'base/base.html' %}

{% block content %}
	<div class="alert alert-dismissible alert-danger">
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  <strong>¿Esta seguro de eliminar el tipo de item {{ object.name }}?</strong> 
	  <!-- <a href="#" class="alert-link">Change a few things up</a> and try submitting again. -->
	  Este cambio no se podrá deshacer.
	</div>

	<form method="POST">
		{% csrf_token %}
		<button type="submit" class="btn btn-danger">Sí, eliminar</button>
		<a type="button" class="btn btn-info" href="{% url 'tipo_item:tipo_item_lista' %}">Cancelar</a>
	</form>
{% endblock content%}