{% extends 'base/base.html' %}
{% block title %} Listar Mensajes {% endblock%}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
         {# <th scope="col">ID</th> #}
            <th scope="col">Usuario</th>
            <td scope="col">Correo electrónico</td>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% if page_obj %}
            {% for usuario in page_obj %}
                {% if not usuario.is_active %}
                    <tr>
                    {#  <td>{{ usuario.id }}</td> #}

                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        {% if not usuario.is_active %}
                            <td>Inactivo</td>
                        {% endif %}
                        <td>
                            <a type="button" class="btn btn-warning"

                               href="{% url 'mensajes:mensaje_usuario_modificar' usuario.id %}">Activar</a>
                            <a type="button" class="btn btn-danger"
                               href="{% url 'mensajes:mensaje_usuario_eliminar' usuario.id %}">Rechazar</a>

                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>No hay mensajes.</h2>
        {% endif %}
        </tbody>
    </table>

    <div class="text-center">
        <div class="pagination">
            <span class="step-links">
                
                <span class="current">
                      <li>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</li>
                </span>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Inicio</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}               

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>            
                {% endif %}
            </span>
        </div>
      </div>
{% endblock content %}