{% extends 'base/base.html' %}

{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Usuario</th>
            <td scope="col">Correo electrónico</td>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        {% if object_list %}
            {% for usuario in object_list %}
                {% if not usuario.is_active %}
                    <tr>
                        <td>{{ usuario.id }}</td>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.email }}</td>
                        {% if not usuario.is_active %}
                            <td>Inactivo</td>
                        {% endif %}
                        <td>
                            <a type="button" class="btn btn-warning"
                               href="{% url 'mensajes:mensaje_usuario_modificar' usuario.id %}">Editar</a>
                            <a type="button" class="btn btn-danger"
                               href="{% url 'mensajes:mensaje_usuario_eliminar' usuario.id %}">Eliminar</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>No hay mensajes.</h2>
        {% endif %}
        </tbody>
    </table>
{% endblock content %}