{% extends 'base/base.html' %}
{% block title %} Atributos TI {% endblock%}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if error %}
            <h2>{{ error }}</h2>
        {% else %}
            <div class="card" style="padding-top: 50px; padding-left: 200px; padding-right: 200px">
                <div class="card-header">
                    {% if object %}
                        <strong>Actualización de Item - Atributos de Tipo de Item</strong>
                    {% else %}
                        <strong>Registro de Item - Atributos de Tipo de Item</strong>
                    {% endif %}
                </div>
                <div class="card-body card-block">
                    <form action="#" method="post" enctype=" multipart
                    /form-data" class="form-horizontal"
                    ">
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.boolean.label }}</div>
                        <div class="col-12 col-md-9">{{ form.boolean }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.char.label }}</div>
                        <div class="col-12 col-md-9">{{ form.char }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.date.label }}</div>
                        <div class="col-12 col-md-9">{{ form.date }}</div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">{{ form.numerico.label }}</div>
                        <div class="col-12 col-md-9">{{ form.numerico }}</div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        {#                            <a class="btn btn-secondary" href="{% url 'item:item_opciones' %}">Cancelar</a>#}
                    </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </form>
{% endblock %}


