{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <div class="card" style="padding-top: 50px; padding-left: 200px; padding-right: 200px">
        <div class="card-header">
            <strong>{{ target }} - Cálculo de impacto</strong>
        </div>
            <div class="card-body card-block" style="margin: 0 auto">
                <h3>
                    Item
                    <small class="text-muted">{{item}}</small>
                </h3>
                <h3>
                    Fase
                    <small class="text-muted">{{item.fase}}</small>
                </h3>
                <h3>
                    Costo
                    <small class="text-muted">{{item.costo}}</small>
                </h3>
                <h3>
                    Complejidad del proyecto
                    <small class="text-muted">{{complejidad_proyecto}}</small>
                </h3>
                <h3>
                    Cálculo de impacto
                    <small class="text-muted">{{calculo_impacto}}</small>
                </h3>
                <div class="text-center">
                    <button type="submit" class="btn btn-success" onclick="window.history.back()">Aceptar</button>
                </div>
            </div>
    </div>
{% endblock %}