{% extends 'base/base.html' %}
{% block title %}  B&uacute;squeda de &Iacute;tems{% endblock%}

{% block content %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'proyecto:detail' pk=proyecto.pk %}">
      Proyecto {{ proyecto }}</a></li>
      <li class="breadcrumb-item active">Fase {{ fase }} </li>
    </ol>
<form method="GET" action="{% url 'item:search' fase.id %}">
        <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control search-users" placeholder="Ingrese una parte del nombre o de la descripci&oacute;n del &iacute;tem." name="buscar" value="{{ request.GET.buscar }}">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="btn btn-success btn-search-users">Buscar</button>
                        </span>
                    </div>
                </div>   
</form>
   <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            {#            <th scope="col">Descripcion</th>#}
            <th scope="col">Estado</th>
            <th scope="col">Costo</th>
            <th scope="col">Archivo</th>
            <th scope="col">Tipo de Item</th>
            <th scope="col">Versión</th>
            <th scope="col" style="text-align: center">Opciones</th>
        </tr>
        </thead>
        <tbody>
       {% for item in page_obj %}
            <tr>
                <td>{{ item.nombre }}</td>
                {#                <td>{{ item.descripcion }}</td>#}
                <td>{{ item.estado }}</td>
                <td>{{ item.costo }}
                    {% if item.costo == 1 %}
                        hora.
                    {% else %}
                        horas.
                    {% endif %}
                </td>
                <td>
                    {% if item.archivo %}
                        <a href="{{ item.file_url_cloud }}" target="_blank" class="btn btn-outline-primary btn-sm">Visualizar</a>
                    {% else %}
                        No adjunto.
                    {% endif %}
                </td>
                <td>{{ item.tipo_item }}</td>
                <td>{{ item.nro_version }}</td>
                <td>
                    {% if not item.en_linea_base and item.estado == 'Desarrollo'%}
                    <a type="button" class="btn btn-warning"
                       href="{% url 'item:item_modificar' item.id item.fase.id %}">Editar</a>

                    <a type="submit" class="btn btn-danger"
                       href="{% url 'item:item_eliminar' item.id item.fase.id %}">Eliminar</a>
                    {% endif %}
                    {% if not item.en_linea_base and item.estado == 'Revision'%}
                    <a type="button" class="btn btn-warning"
                       href="{% url 'item:item_modificar' item.id item.fase.id %}">Editar</a>        
                    {% endif %}
                    <div class="dropdown" style="display: inline">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Mas
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'item:item_detalles' item.id item.fase.id %}">Detalles</a>
                            <a class="dropdown-item" href="{% url 'item:item_cambiar_estado' item.id %}">Cambiar
                                estado</a>
                            {% if not item.en_linea_base and item.estado == 'Desarrollo'%}
                            <a class="dropdown-item" href="{% url 'item:fases_rel' item.id %}">Relaciones</a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'item:calculo_impacto' item.id %}">Cálculo de
                                impacto</a>
                            <a class="dropdown-item" href="{% url 'item:trazabilidad' item.id %}">Trazabilidad</a>
                            {% if not item.en_linea_base and item.estado == 'Desarrollo' %}
                            <a class="dropdown-item" href="{% url 'item:versiones' item.id item.fase.id%}">Versiones</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="text-center">
        <div class="pagination">
            <span class="step-links">

                <span class="current">
                      <li>Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</li>
                </span>
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; Inicio</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>
    </div>

    <a type="button" class="btn btn-link" href="{% url 'fase:fase_lista' _id=proyecto.id %}">Volver a lista de fases</a>
{% endblock content %}